data/*
!data/.gitkeep
model/sentencepiece_models/*
!model/sentencepiece_models/.gitkeep
model/*
runs
available_models/*

# Environments
.env

# Byte-compiled / optimized / DLL files
__pycache__/

# vscode
.vscode

# nohup
nohup.out

# logfile
training_log_file.txt